{% extends "base.html" %}
{% load static humanize %}

{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'drive/css/drive.css' %}">
{% endblock %}

{% block content %}
  <div class="container py-4">
    <div class="mb-3">
      <a class="btn btn-outline-secondary btn-sm" href="{% url 'drive_folder' org.slug project.slug node.folder.id %}">Back to folder</a>
    </div>
    {% include "drive/file_detail_drawer.html" %}
  </div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'drive/js/drive_ui.js' %}"></script>
{% endblock %}
